body {
    background-image: url('https://t4.ftcdn.net/jpg/15/32/47/05/360_F_1532470528_5aLYaiRJdlMAIVDRC4KZVfukQMp1Gynh.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}