body {
    background-image: url('https://t4.ftcdn.net/jpg/15/32/47/05/360_F_1532470528_5aLYaiRJdlMAIVDRC4KZVfukQMp1Gynh.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#hud {
    position: absolute;
    top: 0.926vh;
    right: 0.521vw;

    color: white;
    font-size: 1.042vw;
    font-family: Arial;

    background: rgba(0, 0, 0, 0.5);
    padding: 0.741vh 0.625vw;
    border-radius: 0.313vw;
}