#hud {
    position: absolute;
    top: 0.926vh;
    right: 0.521vw;

    color: white;
    font-size: 1.042vw;
    font-family: Arial;

    background: rgba(0, 0, 0, 0.5);
    padding: 0.741vh 0.625vw;
    border-radius: 0.313vw;
}