

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    }

    .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.042vw;
}

.bubble {
    position: relative;
    bottom: 2vh;
}

    body {
            background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("TjNWDB.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

    .container {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 3.704vh;
    border-radius: 1.042vw;
    color: white;
    }

    h1 {
    margin-bottom: 2.315vh;
    font-size: 3rem;
    }

    .button-container {
    display: flex;
    justify-content: center;
    gap: 1.042vw;
    }

    button,
    .link-button {
    padding: 1.296vh 1.458vw;
    font-size: 1rem;
    border: none;
    border-radius: 0.625vw;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: white;
    background-color: forestgreen;
    }

    button:hover,
    .link-button:hover {
    background-color: darkgreen;
    transform: scale(1.05);
    }

    .bubble {
    display: none;
    margin-top: 2.315vh;
    background: white;
    color: black;
    padding: 1.852vh;
    border-radius: 0.781vw;
    max-width: 20.833vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    }

    ul {
    text-decoration: none;
    list-style-type: none;
}

.credit {
    background-color: #dacd84;
    color: black;
    border: 0.4vh solid rgb(212, 183, 39);
    padding: 1.111vh 1.25vw;
    border-radius: 0.26vw;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 0.833vw;
    margin-top: 1.852vh;
    transition: all 0.3s ease;
    position: fixed;
    bottom: 20vh;
    right: 2vw;
    z-index: 500;
}

.bubble {
    background-color: white;
    border-radius: 1.042vw;
    padding: 2.778vh;
    box-shadow: 0 0.370vh 0.556vh rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 26.042vw;
    position: relative;
    animation: slideUp 0.3s ease;
}


.close-btn:hover {
    color: #000;
}

.contact-modal {
    display: none;
}

.contact-modal.show {
    display: flex;
}